<!DOCTYPE html>
<html>
  <head>
    <title>App Name</title>
  </head>
  <body>
    <h1>hello, world</h1>

    <form class="emailSubmit">
      <input type="email" class="emailField"></input>
      <input type="submit" id="search"></input>
    </form>
    <div class="avatar">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
